

.custom-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.btn-custom {
  background-color: #d30448;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #b1033a; /* Darker shade for hover effect */
}

.custom-input {
  background-color: #f8f9fa; /* Light */
  border: 1px solid #e9ecef; /* Optional: Adjust border style */
}

.pink {
  color: #b1033a;
}

.link-pink{
  color: #d30448;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  height: 20vh;         
  text-align: center;  
}


/* Checkout Customer Information Page */

.body {
  background-color: #f8f9fa;
}

.left-section {
  padding: 2rem;
}
.right-section {
  padding: 2rem;
  background-color: #f5f5f5;
}
.btn-primary-custom {
  background-color: #d50032;
  border-color: #d50032;
}
.btn-primary-custom:hover {
  background-color: #b0002a;
  border-color: #b0002a;
}
.back-to-cart {
  color: #b1033a;
  text-decoration: none;
}
.back-to-cart:hover {
  text-decoration: underline;
}

/* ================================= */