.custom-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.btn-custom {
  background-color: #d30448;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #b1033a; /* Darker shade for hover effect */
}
