{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img
      src="{% static 'productsApp/images/logo_pink.png' %}"
      alt="Logo"
      class="img-fluid mb-2"
      style="max-width: 150px"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link" href="{% url 'home' %}"> Home </a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-center">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display: inline">
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-link nav-link text-secondary me-4"
            style="padding: 0; border: none; background: none"
          >
            Logout
          </button>
        </form>
        <a href="{% url 'profile' %}" class="btn me-2 text-secondary">
          <i class="fa-solid fa-user"></i>
          <!-- Profile Icon -->
        </a>
        {% else %}
        <a class="nav-link text-secondary" href="{% url 'login' %}"> Login </a>
        {% endif %}
        <a href="{% url 'cart_detail' %}" class="btn text-secondary">
          <i class="fa-solid fa-cart-shopping"></i>
          <!-- Cart Icon -->
        </a>
      </div>
    </div>
  </div>
</nav>
