{% load static %}

<div class="container-xl">
	<div class="row">
		<div class="col-md-12" >
			<h2> Products </h2>
            <p> Order it for you or your loved one</p>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-20 ">
                          <img src="{% static 'productsApp/images/1.jpg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Short Cake</h5>
                            <p class="card-text">100sek</p>
                          </div>
                        </div>
                      </div>
                    <div class="col">
                      <div class="card h-20">
                        <img src="{% static 'productsApp/images/1.jpg' %}"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Short Cake</h5>
                          <p class="card-text">100sek</p>
                        </div>
                      </div>
                    </div>

                      <div class="col">
                        <div class="card h-20">
                          <img src="{% static 'productsApp/images/3.jpg' %}"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Short Cake</h5>
                            <p class="card-text" text-color="D30448">100sek</p>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col">
                        <div class="card h-20">
                          <img src="{% static 'productsApp/images/4.jpg' %}"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Short Cake</h5>
                            <p class="card-text">100sek</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-20">
                          <img src="{% static 'productsApp/images/4.jpg' %}"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Short Cake</h5>
                            <p class="card-text">100sek</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-20">
                          <img src="{% static 'productsApp/images/4.jpg' %}"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Short Cake</h5>
                            <p class="card-text">100sek</p>
                          </div>
                        </div>
                      </div>
                  </div>
			<!-- Wrapper for card items -->
		</div>
	</div>
</div>
</body>
</html>                                		