
{% extends 'productsApp/base.html' %} 
{% load static %}
{% block title %}Checkout Page{% endblock %}
{% block content %}

  <div class="container col-lg-8 col-md-12 mb-4">

      <h1 class="h4 mb-4">Checkout</h1>
      <form method="post" action="{% url 'checkout' %}">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Name">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Second Name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter here">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="address" name="address" placeholder="Address and number">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="shipping_method" name="shipping_method" placeholder="Shipping note (optional)">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="city" name="city" placeholder="City">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Postal Code">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="province" name="province" placeholder="Province">
            <!-- <select class="form-select" id="province" name="province">
              <option selected>Province</option>
              <option>Option 1</option>
              <option>Option 2</option>
            </select> -->
          </div>
        </div>
        <div class="mb-3 mt-3">
          <label for="country" class="form-label">Country/Region</label>
          <input type="text" class="form-control" id="country" name="country" placeholder="Country">
          <!-- <select id="country" class="form-select" id="country" name="country">
            <option selected>Italy</option>
            <option>Option 1</option>
            <option>Option 2</option>
          </select> -->
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="save-info">
          <label class="form-check-label" for="save-info">Save this information for a future fast checkout</label>
        </div>
        <a href="{% url 'cart_detail' %}" class="link-pink"> Back to Cart </a>
        <button type="submit" class="btn btn-custom float-end">Place the Order</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}


