<!-- prettier-ignore -->
{% extends 'productsApp/base.html' %} 
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <h2 class="text-center">Register new user</h2>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %} {% for field in form %}
        <div class="row mb-3">
          <!-- Label -->
          <label
            for="{{ field.id_for_label }}"
            class="col-sm-4 col-form-label fw-bolder"
          >
            {{ field.label }}
          </label>
          <!-- Input and Validation Errors -->
          <div class="col-sm-8">
            {{ field }} {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-custom">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
